/* FadeInDown enter */
@keyframes fadeInDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in-down {
  animation: fadeInDown 400ms cubic-bezier(0.35, 0, 0.25, 1) forwards;
}

@keyframes fadeInLeft {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in-left {
  animation: fadeInLeft 400ms cubic-bezier(0.35, 0, 0.25, 1);
}

@keyframes fadeInRight {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in-right {
  animation: fadeInRight 400ms cubic-bezier(0.35, 0, 0.25, 1);
}

@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in-up {
  animation: fadeInUp 400ms cubic-bezier(0.35, 0, 0.25, 1);
}

@keyframes toast-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.toast-in {
  animation: toast-in 400ms ease-out forwards;
}

@keyframes toast-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.toast-out {
  animation: toast-out 400ms ease-out forwards;
}
