<div class="h-[228px] w-full overflow-hidden rounded-[12px] border border-[#404141] bg-[#101112]">
  <div class="relative flex h-full">
    <!-- Text Content -->
    <div class="z-2 flex flex-col p-[30px]">
      <span class="text-[13px] leading-[20px] text-[#9C9C9D]">Welcome,</span>
      <h2 class="font-comfortaa mt-6 text-[32px] leading-[40px] text-[#FDFDFD]">{{ username }}!</h2>
      <p class="mt-4 text-[13px] leading-[20px] text-[#9C9C9D]">Glad to see you!</p>
    </div>

    <!-- Background Image -->
    <div class="absolute inset-0 z-1">
      <img ngSrc="/assets/images/welcome-background.png" fill priority alt="" class="h-full w-full object-cover" />
    </div>
  </div>
</div>
