<div class="w-full rounded-[12px] border border-[#404141] bg-[#101112]">
  <!-- Repository List -->
  <div class="flex flex-col gap-[20px] space-y-1 p-[20px]">
    <!-- Docker Row -->
    <a
      href="javascript:void(0)"
      (click)="routeDocker()"
      class="flex h-[43px] items-center justify-between rounded-[12px] border border-[#101112] bg-linear-to-b from-[rgba(17,16,16,0.6)] to-[#1D1C1C] px-[20px] hover:border-[#404141]"
    >
      <div class="text-[13px] text-[#FDFDFD]">{{ dockerRepoCount }} / Registries are in use.</div>
      <div class="h-[23.48px] w-[27.09px]">
        <img ngSrc="/assets/icons/docker/docker-light.svg" alt="Docker" height="87" width="101" />
      </div>
    </a>

    <!-- Maven Row -->
    <a
      href="javascript:void(0)"
      (click)="routeMaven()"
      class="flex h-[43px] items-center justify-between rounded-[12px] border border-[#101112] bg-linear-to-b from-[rgba(17,16,16,0.6)] to-[#1D1C1C] px-[20px] hover:border-[#404141]"
    >
      <div class="text-[13px] text-[#FDFDFD]">{{ mavenRepoCount }} / Repositories are in use.</div>
      <div class="h-[11.81px] w-[50.58px]">
        <img ngSrc="/assets/icons/maven/maven-light.svg" alt="Maven" height="58" width="213" />
      </div>
    </a>

    <!-- NPM Row -->
    <a
      href="javascript:void(0)"
      (click)="routeNpm()"
      class="flex h-[43px] items-center justify-between rounded-[12px] border border-[#101112] bg-linear-to-b from-[rgba(17,16,16,0.6)] to-[#1D1C1C] px-[20px] hover:border-[#404141]"
    >
      <div class="text-[13px] text-[#FDFDFD]">{{ npmRegistryCount }} / Registries are in use.</div>
      <div class="h-[20.36px] w-[31.67px]">
        <img ngSrc="/assets/icons/npm/npm-light.svg" alt="NPM" height="84" width="141" />
      </div>
    </a>

    <!-- Python Row -->
    <a
      href="javascript:void(0)"
      (click)="routePypi()"
      class="flex h-[43px] items-center justify-between rounded-[12px] border border-[#101112] bg-linear-to-b from-[rgba(17,16,16,0.6)] to-[#1D1C1C] px-[20px] hover:border-[#404141]"
    >
      <div class="text-[13px] text-[#FDFDFD]">{{ pypiRepoCount }} / Repositories are in use.</div>
      <div class="h-[22.73px] w-[22.49px]">
        <img ngSrc="/assets/icons/pypi/pypi2-light.svg" alt="Python" height="46" width="46" />
      </div>
    </a>

    <!-- Golang Row -->
    <a
      href="javascript:void(0)"
      (click)="routeGolang()"
      class="flex h-[43px] items-center justify-between rounded-[12px] border border-[#101112] bg-linear-to-b from-[rgba(17,16,16,0.6)] to-[#1D1C1C] px-[20px] hover:border-[#404141]"
    >
      <div class="text-[13px] text-[#FDFDFD]">{{ golangRepoCount }} / Repositories are in use.</div>
      <div class="h-[23px] w-[38px]">
        <img ngSrc="/assets/icons/golang/golang-light.svg" alt="Go" height="23" width="60" />
      </div>
    </a>
  </div>
</div>
