<!-- Modal Backdrop -->
@if (open) {
  <button animate.enter="fade-in-up" class="bg-opacity-50 fixed inset-0 z-3 backdrop-blur-sm" (click)="closeModal()">
    <div></div>
  </button>

  <!-- Modal Content -->
  <div
    class="fixed top-1/2 left-1/2 z-4 max-h-[calc(100vh-2rem)] w-[calc(100%-2rem)] max-w-[400px] -translate-x-1/2 -translate-y-1/2 transform overflow-y-auto rounded-xl border border-[#404141] bg-[#101112] p-6 sm:max-w-[600px] sm:p-8 md:max-w-[700px] md:p-[45px] lg:max-w-[882px]"
  >
    <!-- Header -->
    <div class="flex justify-between">
      <h1 class="text-[24px] leading-6 text-white">Create Repository</h1>
      <button (click)="closeModal()" class="hover:text-secondary-500 text-neutral-200">
        <svg
          width="15"
          height="15"
          viewBox="0 0 15 15"
          fill="none"
          stroke="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M0.595215 14.4052L14.4047 0.595703" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M14.4047 14.4052L0.595215 0.595703" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>

    <div class="gradient-border mx-auto my-6 sm:my-10"></div>

    <form [formGroup]="form" class="flex flex-col gap-4 text-[#9FA0A0]" (submit)="form.valid && createRepo()">
      <div class="flex flex-col gap-8 sm:flex-row">
        <div class="form-group w-full">
          <label for="type">Type</label>
          <app-selector
            size="big"
            [selectedOption]="selectedOption !== 'all' ? selectedOption : null"
            [options]="options"
            (choose)="selectOption($event)"
          />
        </div>

        <div class="form-group w-full">
          <label for="name">Name <span class="text-error">*</span></label>
          <input
            formControlName="name"
            placeholder="Enter repository name"
            id="name"
            required
            type="text"
            class="input-text-secondary w-full"
            (keydown.enter)="form.valid && createRepo()"
          />
          <div class="text-body2 text-error min-h-7 pt-1">
            @if (form.get('name').errors?.['required'] && form.get('name').touched) {
              <p animate.enter="fade-in-up">• Should not be empty</p>
            } @else if (form.get('name').errors?.['maxlength'] && form.get('name').touched) {
              <p animate.enter="fade-in-up">• Should be maximum 25 characters</p>
            } @else if (form.get('name').errors?.['pattern'] && form.get('name').touched) {
              <p animate.enter="fade-in-up">• Should contain only letters, numbers, - and _</p>
            }
          </div>
        </div>
      </div>

      <app-toggle-component
        class="w-1/2 sm:ml-auto sm:pl-4"
        [checked]="!this.form.get('privateRepo').value"
        checkedLabel="Public"
        uncheckedLabel="Private"
        (checkedChange)="this.form.get('privateRepo').setValue(!$event)"
      />

      <div class="form-group w-full">
        <label for="description">Description</label>
        <textarea
          id="description"
          formControlName="description"
          placeholder="Enter description about repository"
          class="input-text-secondary w-full"
          rows="5"
        ></textarea>
        <div class="text-body2 text-error min-h-7 pt-1">
          @if (form.get('description').errors?.['maxlength'] && form.get('description').touched) {
            <p animate.enter="fade-in-up">• Should be maximum 500 characters</p>
          }
        </div>
      </div>

      <div class="flex flex-col flex-col-reverse gap-2 sm:ml-auto sm:flex-row">
        <button (click)="closeModal()" [disabled]="loading" class="repsy-btn-secondary w-full sm:w-auto">Cancel</button>

        <button type="submit" [disabled]="loading || form.invalid" class="repsy-btn-confirm w-full sm:w-auto">
          Create
        </button>
      </div>
    </form>
  </div>
}
