<section id="delete-repository" class="mt-[-100px] pt-[100px]">
  <h3
    class="w-full rounded-t-[12px] border border-[#e8546a] border-b-[#404141] bg-[#101112] p-[24px] font-medium text-[#FDFDFD]"
  >
    <a [routerLink]="[]" fragment="delete-repository"> Delete Repository </a>
  </h3>
  <div class="rounded-b-[12px] border-r border-b border-l border-[#e8546a] bg-[#101112] p-[24px]">
    <p class="mb-[24px] text-[14px] text-[#FDFDFD]">
      This action irreversible and will delete repository and all artifacts contained by the repository.
    </p>
    <button class="repsy-btn-danger w-full sm:w-auto" (click)="deleteRepo()" [disabled]="loading">Delete</button>
  </div>
</section>
