@if ((scanned || (unscannedInProgressCount ?? 0) > 0 || (unscannedFailedCount ?? 0) > 0) && (isSupported$ | async)) {
  <button data-testid="security-badge" type="button" (click)="openModal($event)" class="cursor-pointer">
    <app-severity-badge
      [severity]="severity"
      [scanned]="scanned"
      [rescanInProgressCount]="rescanInProgressCount"
      [rescanFailedCount]="rescanFailedCount"
      [unscannedInProgressCount]="unscannedInProgressCount"
      [unscannedFailedCount]="unscannedFailedCount"
      [compact]="true"
      [attr.aria-label]="artifactName + ' security status'"
    />
  </button>

  <app-package-security-modal
    [repoName]="repoName"
    [repoType]="repoType"
    [artifactName]="artifactName"
    [packageRoute]="packageRoute"
    [packageQueryParams]="packageQueryParams"
    [(open)]="showModal"
  />
}
