@if (loading) {
  <app-spinner />
} @else {
  @if (repositorySettings || mavenRepositorySettings) {
    <div class="space-y-[24px]" animate.enter="fade-in-down">
      <h2 class="text-sm text-base-content/70">Repository Settings</h2>

      <div>
        <app-visibility
          [parentForm]="repoType === 'maven' || repoType === 'nuget' ? mavenSettingsForm : generalSettingsForm"
          [repoType]="repoType"
          [repoName]="activeRepository?.repoName"
          (fetch)="getRepoSettings()"
        />
      </div>

      <div>
        @if (repoType !== 'cargo' && repoType !== 'golang') {
          <app-package-override
            [parentForm]="repoType === 'maven' || repoType === 'nuget' ? mavenSettingsForm : generalSettingsForm"
            [repoType]="repoType"
            [repoName]="activeRepository?.repoName"
            (fetch)="getRepoSettings()"
          />
        }
      </div>

      <div>
        @if (repoType === 'maven' || repoType === 'nuget') {
          <app-maven-version-allowence
            [parentForm]="mavenSettingsForm"
            [repoType]="repoType"
            [repoName]="activeRepository?.repoName"
            (fetch)="getRepoSettings()"
          />
        }
      </div>

      @if (repoType === 'maven') {
        <div><app-signature [repoType]="repoType" [activeRepository]="activeRepository" /></div>
      }
      <div><app-deploy-token [repoType]="repoType" [activeRepository]="activeRepository"></app-deploy-token></div>
      <div><app-repo-storage [repoType]="repoType" [repoName]="activeRepository?.repoName" /></div>
      <div><app-repo-info [repoType]="repoType" [activeRepository]="activeRepository" /></div>
      @if (repoType === 'docker') {
        <div><app-delete-orphan-layers [activeRepository]="activeRepository" /></div>
      }
      <div><app-delete-repo [repoType]="repoType" [activeRepository]="activeRepository" /></div>
    </div>
  } @else {
    <div animate.enter="fade-in-up" class="p-8 text-center">
      <img
        class="mx-auto mb-[70px]"
        ngSrc="/assets/images/hippo-empty.svg"
        alt="hippo-empty"
        height="243"
        width="510"
      />
      <div>
        <p class="text-2xl text-base-content/70">404</p>
        <p class="mt-2 text-lg text-base-content/70">Repository settings not found!</p>
      </div>
    </div>
  }
}
