<section id="package-override" class="mt-[-100px] pt-[100px]">
  <h3 class="w-full rounded-t-[12px] border border-[#404141] bg-[#101112] p-[24px] font-medium text-[#FDFDFD]">
    <a [routerLink]="[]" fragment="package-override"> Package Override </a>
  </h3>
  <div
    class="flex flex-col gap-4 rounded-b-[12px] border-r border-b border-l border-[#404141] bg-[#101112] p-[24px] sm:flex-row sm:gap-10"
  >
    <app-toggle-component
      class="w-[115px]"
      [(checked)]="allowOverride"
      checkedLabel="Allow"
      uncheckedLabel="Deny"
      (checkedChange)="changeOverride()"
    />

    <div class="text-[13px]">
      <p class="text-[#FDFDFD]">When active, package override (uploading same version again) will be blocked.</p>
      <p class="text-[#9FA0A0]">
        {{
          allowOverride
            ? 'Users can overwrite existing package versions.'
            : 'Users cannot upload the same version twice.'
        }}
      </p>
    </div>
  </div>
</section>
