<section id="repository-storage" class="mt-[-100px] pt-[100px]">
  <h3 class="w-full rounded-t-[12px] border border-base-300 bg-base-100 p-[24px] font-medium text-base-content">
    <a [routerLink]="[]" fragment="repository-storage"> Repository Storage </a>
  </h3>

  <div class="rounded-b-2xl border-r border-b border-l border-base-300 bg-base-100 p-6">
    <!-- Disk Usage Info -->
    <div class="mb-6 space-y-4">
      <div class="flex items-center justify-between">
        <span class="text-sm text-base-content">Disk Usage</span>
        <span class="text-base font-medium text-success">{{ usage?.diskUsed?.text || '0 B' }}</span>
      </div>
    </div>
  </div>
</section>
