<div class="flex items-center justify-end gap-1 py-2" [ngClass]="{ hidden: totalPages <= 1 }">
  <button
    (click)="previousPage()"
    class="text-secondary-500 flex h-8 w-7 items-center justify-center rounded-[8px] bg-neutral-400 p-[6px] text-sm font-medium hover:bg-neutral-300 disabled:opacity-50"
    [disabled]="pageNum === 0"
  >
    <img ngSrc="/assets/icons/cursor/arrow-left.svg" class="h-[12px] w-[12px]" height="8" width="4" alt="page-left" />
  </button>
  <div class="flex items-center gap-1">
    @for (page of pages; track page) {
      @if (isNumber(page)) {
        <button
          (click)="goToPage(page)"
          [disabled]="page === pageNum"
          [ngClass]="{
            'hover:bg-neutral-300': page !== pageNum,
          }"
          class="text-secondary-500 flex h-8 min-w-8 items-center justify-center rounded-[8px] bg-neutral-400 p-[6px] text-sm font-medium disabled:opacity-50"
        >
          {{ page + 1 }}
        </button>
      } @else {
        <span
          class="text-secondary-500 flex h-8 min-w-8 items-center justify-center rounded-[8px] bg-neutral-400 p-[6px] text-sm font-medium select-none"
        >
          …
        </span>
      }
    }
  </div>
  <button
    (click)="nextPage()"
    class="text-secondary-500 flex h-8 w-7 items-center justify-center rounded-[8px] bg-neutral-400 p-[6px] text-sm font-medium hover:bg-neutral-300 disabled:opacity-50"
    [disabled]="pageNum + 1 >= totalPages"
  >
    <img ngSrc="/assets/icons/cursor/arrow-right.svg" class="h-[12px] w-[12px]" height="8" width="5" alt="page-right" />
  </button>
</div>
